@import "./variables/global";
@import "reset";
@import url("../fonts/Nekst/stylesheet.css");
@import url("../fonts/Gilroy/stylesheet.css");

.app {
  min-height: 100vh;
  padding: 150px 50px;
}

.header {
  font: var(--font-l);
  width: 753px;
  margin-bottom: 32px;
}

.calculator-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.bottom-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Media queries */
@media screen and (max-width: 1400px) {
  .calculator-list {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 37px;
  }

  .bottom-part {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .bottom-part {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .app {
    padding: 50px 36px;
  }

  .bottom-part {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 690px) {
  .header {
    width: 100%
  }
}

@media screen and (max-width: 500px) {
  .app {
    padding: 50px 20px;
  }

  .header {
    font: var(--font-m);
  }
}