@import "./variables/global";
@import "reset";
@import url("../fonts/Nekst/stylesheet.css");
@import url("../fonts/Gilroy/stylesheet.css");

.app {
  min-height: 100vh;
  padding: 150px 50px;
}

.header {
  font: var(--font-l);
  width: 753px;
  margin-bottom: 32px;
}

.calculator-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.bottom-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
