:root {

  //fonts
  --font-family-main: "Nekst", sans-serif;
  --font-family-secondary: "Gilroy", sans-serif;

  --font-weight-main: 900;

  --font-size-s: 20px;
  --font-line-s: 24px;
  --font-s: var(--font-weight-main) var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 30px;
  --font-line-m: 36px;
  --font-m: var(--font-weight-main) var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 54px;
  --font-line-l: 48.6px;
  --font-l: var(--font-weight-main) var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-secondary: 16px;
  --font-line-secondary: 20px;
  --font-weight-secondary: 400;
  --font-secondary: var(--font-weight-secondary) var(--font-size-secondary) / var(--font-line-secondary) var(--font-family-secondary);


  // colors
  --primary-color: #FF9514;

  --button-font-color:  #FFFFFF;
  --button-hover-color: #111111;
  --button-pressed-color: #575757;
  --button-disabled-color: rgba(255, 149, 20, 0.4);
}