.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.disabled {
  opacity: 0.5;
}

.input {
  padding: 16px 24px;
  background: #F3F3F4;
  border-radius: 16px;
  border: none;
  width: 427px;
  height: 68px;
  outline: none;
  font: var(--font-m);
}

.label {
  margin-bottom: 24px;
  font: var(--font-secondary);
}

.percent {
  position: absolute;
  font: var(--font-s);
  background: #EBEBEC;
  border-radius: 16px;
  width: 69px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 7px;
  bottom: 7px;
}

.letter {
  position: absolute;
  font: var(--font-m);
  right: 24px;
  bottom: 16px;
}

/* Media queries */
@media screen and (max-width: 1400px) {
  .wrapper {
    width: 100%;
  }
  .input {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }
  .input {
    width: 100%;
  }
}


@media screen and (max-width: 500px) {
  .percent {
    font: var(--font-s)
  }

  .letter {
    font: var(--font-s)
  }

  .input {
    font: var(--font-s);
  }
}