.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 12px;
  width: 426px;
  height: 68px;
  background: var(--primary-color);
  border-radius: 40px;
  border: none;
  font: var(--font-m);
  color: var(--button-font-color);
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background: var(--button-hover-color);
  }

  &:active {
    background: var(--button-pressed-color);
  }

  &:disabled {
    background: var(--button-disabled-color);
  }
}

/* Media queries */
@media screen and (max-width: 1400px) {
  .button {
    margin-top: 44px;
  }
}

@media screen and (max-width: 500px) {
  .button {
    margin-top: 44px;
    font: var(--font-s);
  }
}